﻿@model IEnumerable<Presentacion.Models.usuario>

@{
    ViewBag.Title = "MostrarTodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MostrarTodo</h2>

@*<style type="text/css">
    @@media only screen and (min-width: 320px) and (max-width: 767px){
        /*html {

            height: 100vw;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }*/
        table {
            display: block;
            overflow-x: auto;
        }
    }
/*
    @@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation:landscape) {

        #foot {
            width: 150%;
        }

        #contenidoMain {
            height: auto;
            margin-bottom: 0;
        }
    }

    #ocultar {
        background-color: red;
        width: 100px;
        height: 100px;
        display:none;
    }*/
   /* @@media only screen and (max-width: 320px) {
        table {
            display: block !important;
            overflow-x: auto !important;
        }
    }*/

</style>*@

<p>
    @Html.ActionLink("Crear Usuario", "CrearUsuario")
</p>

<table class="table" id="tab">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.segundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>


                <td>
                    @Html.ActionLink("Editar", "EditUsuario", new { id = item.idUsuario }) |
                    @Html.ActionLink("Detalles", "DetalleUsuario", new { id = item.idUsuario }) |
                    @Html.ActionLink("Borrar", "BorrarUsuario", new { id = item.idUsuario }, new { @class = "Borrar" })
                </td>
            </tr>
        }

    </tbody>
</table>
@section scripts{
    <script defer>

        $(".Borrar").click(function (event) {
            if (!confirm('¿Seguro que quieres borrar este usuario?')) {
                event.preventDefault();
            }
        })        
    </script>
}
