﻿@model  Presentacion.Models.lineaProducto

<div class="form-group">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMaterial)
            </th>

        </tr>

        <tr>
            <td>
                @Html.EditorFor(model => model.numeroMaterial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroMaterial, "", new { @class = "text-danger" })
            </td>
            <td>
                <span id="precio" class="price"></span>
            </td>
            <td>
                @Html.DropDownList("idMaterial", null, " ", htmlAttributes: new { @class = "form-control", @id = "material" })
                @Html.ValidationMessageFor(model => model.idMaterial, "", new { @class = "text-danger" })
            </td>

        </tr>
        <p>@ViewBag.ErrorMessage</p>

    </table>

    <div class="col-md-offset-9 col-md-3">
        <input type="submit" value="Agregar Linea producto" class="btn btn-info" id="activa" style="width:auto" />
    </div>
</div>
