﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoloOne</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/css/new-age.css" rel="stylesheet" />
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SoloOne", "Factu", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Profile")</li>
                        <li>@Html.ActionLink("Ver Usuarios", "MostrarTodo", "Profile")</li>
                        <li>@Html.ActionLink("Incidencias", "Index", "Incidencia")</li>
                        <li>@Html.ActionLink("Materiales", "Index", "Material")</li>
                        <li>@Html.ActionLink("Facturacion", "SeleccionIncidencia", "Factura")</li>
                        <li>@Html.ActionLink("Resolver Incidencia", "Index", "Repara")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Home/CerrarSesion">Cerrar sesion </a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content" id="contenidoMain" >
        @RenderBody()
        <hr />
    </div>
    <div id="pie">
        <footer id="foot">
            <p>&copy; @DateTime.Now.Year - Soloone.site</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Facebook</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Twitter</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </footer>
    </div>
    <!-- Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>