﻿@model IEnumerable<Presentacion.Models.lineaProducto>
@using (Html.BeginForm())

{
    <div class="form-group">


        <table class="table" id="updateEsta">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.material.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.repara.descripcionAveria)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.numeroMaterial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precioMaterial)
                </th>
                <th>

                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.material.marca)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.repara.descripcionAveria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioMaterial)
                    </td>
                    <td>
                        @Html.ActionLink("Borrar", "BorrarLinea", new { id = item.idLineaProducto, idRepa = item.idRepara}, new { @class = "Borrar" })
                    </td>

                </tr>
            }

        </table>

    </div>
}

@section scripts{
    <script defer>

        $(".Borrar").click(function (event) {
            if (!confirm('¿Seguro que quieres borrar esta linea?')) {
                event.preventDefault();
            }
        })
    </script>
}