﻿@model Presentacion.Models.material

@{
    ViewBag.Title = "Crear Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Material",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>material</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.precio, new { type = "decimal", min = "0", step = "0.s01" })
                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.refencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                @*@Html.EditorFor(model => model.referenciaBuena, new { htmlAttributes = new { @class = "form-control" } })*@
                @ViewBag.ReferenciaBuena
                @Html.ValidationMessageFor(model => model.refencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imgMaterial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.imgMaterial, new { htmlAttributes = new { @class = "form-control" } })*@
                <input name="imgload" type="file" />
                @Html.ValidationMessageFor(model => model.imgMaterial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a ver todos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
