﻿@model Presentacion.Models.material

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Seguro que quieres borrar este material?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgMaterial)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.imgMaterial)*@
            <img width="100" src="@Url.Action("getImg","Material",new { id = Model.idMaterial})" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-info" /> |
            @Html.ActionLink("Volver a ver todos", "Index")
        </div>
    }
</div>
