﻿@model Presentacion.Models.material

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgMaterial)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.imgMaterial)*@
            <img width="100" src="@Url.Action("getImg","Material",new { id = Model.idMaterial})" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMaterial }) |
    @Html.ActionLink("Volver a ver todos", "Index")
</p>
