﻿@model IEnumerable<Presentacion.Models.material>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Material</h2>

<p>
    @Html.ActionLink("Crear Material", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgMaterial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refencia)
        </td>
        <td>

            @*@{

            var imgSrc = Convert.ToBase64String(item.imgMaterial);
        }
        <img src="data:image/jpeg;base64, @imgSrc" alt="xx" />*@
            <img width="100" src="@Url.Action("getImg","Material",new { id = item.idMaterial})" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idMaterial }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idMaterial }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idMaterial })
        </td>
    </tr>
}

</table>
