﻿@model Presentacion.Models.repara

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Borrar</h2>

<h3>¿Seguro que quieres dejar cono pendiente esta Incidencia?</h3>
<div>
    <h4>Borrar</h4>
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.descripcionAveria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionAveria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasTrabajadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasTrabajadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incidencia.descripcionIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidencia.descripcionIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-info" /> |
            @Html.ActionLink("Volver a incidencias resueltas", "Index")
        </div>
    }
</div>
