﻿@model Presentacion.Models.repara

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalles de incidencia resuelta</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.descripcionAveria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionAveria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasTrabajadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasTrabajadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incidencia.descripcionIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidencia.descripcionIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idRepara }) |
    @Html.ActionLink("Volver a incidencias resueltas", "Index")
</p>
