﻿@model IEnumerable<Presentacion.Models.repara>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Resolver Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionAveria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horasTrabajadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.incidencia.descripcionIncidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.descripcionAveria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horasTrabajadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.incidencia.descripcionIncidencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idRepara }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idRepara }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idRepara })
        </td>
    </tr>
}

</table>
