a {
  display: none;
}
table {
    border-collapse: collapse;
}

    table td, table th {
        border: 1px solid black;
        padding: 5px;
    }

#header {
    height: 35px;
    width: 100%;
    margin: 20px 0;
    background: #222;
    text-align: center;
    color: white;
    font: bold 15px Helvetica, Sans-Serif;  
    letter-spacing: 20px;
    padding: 8px 0px;
}

@page {
    size: auto;
    margin-bottom: 5mm;
    margin-top: 5mm;
}