﻿@model  Presentacion.Models.FacturasDTO
@{
    ViewBag.Title = "CalculosTotalesFac";
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Factura</title>

    <link href="~/Content/print.css" rel="stylesheet"   media="print" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />   

</head>

<body>

    <div id="page-wrap">

        <textarea id="header">FACTURA</textarea>

        <div id="identity">

            <div id="address">
                <div>
                    <h4>Datos del cliente</h4>
                  
                    <h5>Nombre Completo</h5>
                    @Html.DisplayFor(model => model.datosPro.NombreCompletoCliente)
                    <br />
                    <h5>Nº Telefono</h5>
                    @Html.DisplayFor(model => model.datosPro.telefonoCliente)
                </div>
               
            </div>

            <div id="logo">

                <img src="~/images/logo.png" style="max-width: 593px; max-height: 111px;" />
            </div>

        </div>

        <div style="clear:both"></div>

        <div id="customer">

            <div id="customer-title">
                <h4>Datos del tecnico</h4>

                <h5>Nombre Completo</h5>
                @Html.DisplayFor(model => model.datosPro.NombreCompletoTecnico)
                <br />
                <h5>Nº Telefono</h5>
                @Html.DisplayFor(model => model.datosPro.telefonoTecnico)
            </div>


            <table id="meta">
                <tr>
                    <td class="meta-head">Nº Factura</td>
                    <td><textarea>@Html.DisplayFor(model=> model.numFact)</textarea></td>
                </tr>
                <tr>

                    <td class="meta-head">Fecha</td>
                    <td><textarea id="date">@DateTime.Now.ToShortDateString()</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Importe a pagar</td>
                    <td><div class="due"> @Html.DisplayFor(model => model.Total) €</div></td>
                </tr>

            </table>

        </div>

        <table id="items">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.material.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.repara.descripcionAveria)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.LineaPro.numeroMaterial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.precioMaterial)
                </th>

            </tr>

            @foreach (var item in Model.lineaProductoList)
            {
                <tr class="item-row">
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.material.marca)

                    </td>
                    <td class="description" >
                        @Html.DisplayFor(modelItem => item.repara.descripcionAveria)
                    </td>
                    <td class="qty">
                        @Html.DisplayFor(modelItem => item.numeroMaterial)
                    </td>
                    <td class="price">
                        @Html.DisplayFor(modelItem => item.precioMaterial) €
                    </td>

                </tr>
            }




            <tr>
                <td class="blank"> </td>
                <td colspan="2" class="total-line">Subtotal</td>
                <td class="total-value"><div id="subtotal">@Html.DisplayFor(model => model.totalMaterial) €</div></td>
            </tr>
            <tr>

                <td class="blank"> </td>
                <td colspan="2" class="total-line">IVA(21.00%)</td>
                <td class="total-value"><div id="total">@Html.DisplayFor(model => model.porImpue) €</div></td>
            </tr>           
            <tr>
                <td class="blank"> </td>
                <td colspan="2" class="total-line balance">Total</td>
                <td class="total-value balance"><div class="due">@Html.DisplayFor(model => model.Total) €</div></td>
            </tr>

        </table>

        <div id="terms">
            <h5></h5>
        </div>

    </div>
    @if (!@Model.PDF) 
    { 
    <a href="@Url.Action("Pdf2","Factura", new { idInci = Model.Inci.idIncidencia })" class="btn btn-success" target="_blank">
        Generar PDF <span class="glyphicon glyphicon-chevron-right"></span> 
    </a>
    }
</body>

</html>