﻿@model  Presentacion.Models.FacturasDTO
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Facturar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facturar</h2>

<h4>Datos Cliente</h4>
@*<style type="text/css">
    #contenidoMain {
        height: 103%;
        margin-bottom: -87px;
        font-size: 15px;
        color: #fff;
    }
  
</style>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.NombreCompletoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.telefonoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.correoCliente)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.datosPro.NombreCompletoCliente, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.telefonoCliente, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.correoCliente, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
</table>

<h4>Datos Tecnico</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.NombreCompletoTecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.telefonoTecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.correoTecnico)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.datosPro.NombreCompletoTecnico, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.telefonoTecnico, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.correoTecnico, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
</table>

<h4>Incidencia</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.descripcionIncidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.fechaIncidencia)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.datosPro.descripcionIncidencia, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.fechaIncidencia, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
</table>
<h4>Reparacion</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.fechaReparacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.horasTrabajadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosPro.precioHora)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.datosPro.fechaReparacion, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.horasTrabajadas, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.datosPro.precioHora, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
</table>
<h4>Lineas de Productos</h4>
@using (Html.BeginForm("SetLineas", "Factura", new { id = Model.datosPro.idRepara }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_AddLineas", Model.LineaPro)
}
@Html.Partial("_ListaDeLineas", Model.lineaProductoList)
@using (Html.BeginForm("CalculosTotalesFac", "Factura", new { id = Model.Inci.idIncidencia }, FormMethod.Post
    ))
{<div class="col-md-offset-10 col-md-2">
        <input type="submit" value="Crear Factura" class="btn btn-info" id="activa" />
    </div>
}
<script src="~/scripts/jquery-3.4.1.js"></script>
@section scripts{
    <script>

        $(document).ready(function () {

            $("#material").change(function () {


                var v = $(this).children("option:selected").val();

                //var comodin = [];

                @*@foreach (var item in @Model.allMate)
                {
                    @Html.Raw("comodin.push({idMaterial:\'" + item.idMaterial + "\' , precio:\'" + item.precio + "\'});\n");

                }*@

                //var comodin = JSON.parse('@Html.Raw("Json.Encode(" + @Model.allMate + ")")');
                @*var comodin = JSON.parse('@Html.Raw(@Model.allMate.ToArray())');*@

                if (v != "") {

                    var comodin = @Html.Raw(Json.Encode(Model.allMate));


                    var resul = comodin.find(c => c.idMaterial == v).precio;

                    $("#precio").text(resul + " €");
                } else {
                    $("#precio").text("");
                }

            });
        });

        

    </script>

}