﻿@model  Presentacion.Models.FacturasDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Factura</h2>

@using (Html.BeginForm())

{
    
    @Html.Partial("_ListaDeLineas", Model.lineaProductoList)
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Aqui el tecnico*@
        @Html.LabelFor(model => model.Usu.idUsuario, "Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idUsuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Usu.idUsuario, "", new { @class = "text-danger" })
        </div>
        @*Fin tecnico*@

        <table class="table">
            <tr>
                <th>
                    @Html.LabelFor(model => model.LineaPro.numeroMaterial, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.LineaPro.precioMaterial, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.LineaPro.idUtiliza, "idUtiliza", htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.LineaPro.idRepara, "idRepara", htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.LineaPro.idMaterial, "idMaterial", htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th></th>
            </tr>


            <tr>
                <td>
                    @Html.EditorFor(model => model.LineaPro.numeroMaterial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LineaPro.numeroMaterial, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.LineaPro.precioMaterial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LineaPro.precioMaterial, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownList("idUtiliza", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LineaPro.idUtiliza, "", new { @class = "text-danger" })

                </td>
                <td>
                    @Html.DropDownList("idRepara", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LineaPro.idRepara, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownList("idMaterial", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LineaPro.idMaterial, "", new { @class = "text-danger" })
                </td>

            </tr>


        </table>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar Linea producto" class="btn btn-info" id="activa" />
        </div>

        <table class="table" id="updateEsta">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.numeroMaterial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.precioMaterial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.material.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.repara.descripcionAveria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineaPro.utiliza.idUtiliza)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.lineaProductoList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.material.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.repara.descripcionAveria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.utiliza.idUtiliza)
                    </td>

                </tr>
            }

        </table>

    </div>
}


