﻿
@model Presentacion.Models.incidencia
@{
    ViewBag.Title = "SeleccionIncidencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seleccion Incidencia</h2>
@using (Html.BeginForm())
{
    <h2>Seleccione la incidencia que desea facturar</h2>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.idIncidencia, "Incidencia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idIncidencia", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idIncidencia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear Factura" class="btn btn-info" id="activa" />
    </div>
}