
body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Muli,Helvetica,Arial,sans-serif;
    position: relative;
    color: #fff;
    background: url(../Content/img/bg-pattern.png),linear-gradient(to left,#046ef1,#3a3a3c);
}

/*#contenidoMain {
    height: 100%;
    margin-bottom: -87px;
    font-size: 15px;
    color: #fff;
}*/
#contenidoMain {
    max-height: 91%;
    overflow: auto;
    height: 100%;
    /*margin-bottom: -87px;*/
    font-size: 15px;
    color: #fff;
}

#foot {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #222222;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

    footer ul li a {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.3);
    }

        footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
            text-decoration: none;
        }



a:focus, a:hover {
    color: #fdcc52;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

a {
    color: #fdcc52;
}

a {
    background-color: transparent;
}


@media only screen and (min-width: 250px) and (max-width: 1024px) {

    table {
        display: block;
        overflow-x: auto;
    }
}
#pie {
    position: relative;
    display: block;
}
#activa {
    border-radius: 300px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
input {
color:black;
}