﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C/Barriocurto nº11<br />
    La Almunia De Doña Godina(Zaragoza)<br />
    <abbr title="Phone">Telefono:</abbr>
    665515087
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:webmaster@siteone.com">webmaster@siteone.com</a><br />  
</address>