﻿
@model  Presentacion.Models.FacturasDTO
@{
    ViewBag.Title = "Factu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <h4>Bienvenida</h4>

    <div>

        <hr />
        <h4>Bienvenida a SoloOne @ViewBag.nombre</h4>
       <h5> </h5>
    </div>
</body>
</html>


