﻿@{
    ViewBag.Title = "Home";
    Layout = null;
}

<head>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

@if (!User.Identity.IsAuthenticated)
{
    <section class="main">
        <div class="layer">


            <div class="content-w3ls">
                <div class="content-bottom">
                    <form action="#" method="post">
                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="usuario" id="text1" type="text" value="" placeholder="Usuario" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="password" id="myInput" type="Password" placeholder="Contraseña" required>
                            </div>
                        </div>
                        <div class="wthree-field">
                            <button type="submit" class="btn">Iniciar sesión</button>
                        </div>
                        <ul class="list-login">
                        </ul>                        
                    </form>
                    @{ if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-warning">@ViewBag.Message</div>
                        }

                    }
                </div>
            </div>

        </div>
    </section>
}