﻿@model Presentacion.Models.lineaProducto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>lineaProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repara.descripcionAveria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repara.descripcionAveria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utiliza.idUtiliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utiliza.idUtiliza)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
