﻿@model Presentacion.Models.lineaProducto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>lineaProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repara.descripcionAveria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repara.descripcionAveria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utiliza.idUtiliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utiliza.idUtiliza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLineaProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
