﻿@model IEnumerable<Presentacion.Models.lineaProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.material.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repara.descripcionAveria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utiliza.idUtiliza)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.material.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.repara.descripcionAveria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utiliza.idUtiliza)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLineaProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLineaProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLineaProducto })
        </td>
    </tr>
}

</table>
