﻿@model Presentacion.Models.incidencia

@{
    ViewBag.Title = "Borrar Inicendia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Seguro que quieres borrar esta incidencia?</h3>
<div>
    <h4>Incidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-info" /> |
            @Html.ActionLink("Ver todas las Incidencias", "Index")
        </div>
    }
</div>
