﻿@model Presentacion.Models.incidencia

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Detalle</h2>

<div>
    <h4>Incidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIncidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIncidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idIncidencia }) |
    @Html.ActionLink("Ver todas las Incidencias", "Index")
</p>
