﻿@model IEnumerable<Presentacion.Models.incidencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionIncidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIncidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionIncidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIncidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idIncidencia }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idIncidencia }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.idIncidencia })
            </td>
        </tr>
    }

</table>
